<%= form_with(model: service) do |form| %>

  <%= render "shared/errors", object:service %>
  <div class="row">
    <div class="col-2">

    </div>
    <div class="col-2">

    </div>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :active, style: "display: block" %>
    <%= form.check_box :active %>
  </div>

  <div class="mt-2">
    <%= form.submit %>
  </div>
<% end %>
