<p style="color: green"><%= notice %></p>

<h1>Services</h1>

<div id="services">

  <table>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Active</th>
    </tr>

    <% @services.each do |service| %>
      <tr>
        <td><%= link_to service.id, service %></td>
        <td> <%= service.name %> </td>
        <td> <%= service.active %> </td>
      </tr>
    <% end %>
  </table>

</div>

<%= link_to "New service", new_service_path %>
