
<p style="color: green"><%= notice %></p>




<div id="buyer_locations" class="m-5">
  <h1>Buyer locations</h1>
  <table class="table">
    <tr>
      <th>Id</th>
      <th>Location</th>
      <th>Buyer</th>
      <th>Active</th>
      <th>Action</th>
    </tr>
    <% @buyer_locations.each do |buyer_location| %>
      <tr>
        <td> <%= link_to buyer_location.id, buyer_location %></td>
        <td> <%= Location.find(buyer_location.location_id)[:zip_code] %></td>
        <td> <%= Buyer.find(buyer_location.buyer_id)[:name] %></td>
        <td> <%=  buyer_location.active %> </td>
        <td>
          <%= link_to "Edit", edit_buyer_location_url(buyer_location), class: 'btn btn-warning btn-sm' %>
          <%= button_to "Delete", buyer_location, method: :delete, class: 'btn btn-danger btn-sm' %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= link_to "New buyer location", new_buyer_location_path, class:"btn btn-success" %>
</div>

