<p style="color: green"><%= notice %></p>

<%= render @buyer_location %>

<div>
  <%= link_to "Edit this buyer location", edit_buyer_location_path(@buyer_location) %> |
  <%= link_to "Back to buyer locations", buyer_locations_path %>

  <%= button_to "Destroy this buyer location", @buyer_location, method: :delete %>
</div>
