<p style="color: green"><%= notice %></p>

<h1>Admins</h1>

<div id="admins">
  <table>
    <tr>
      <th>Id</th>
      <th>Email</th>
      <th>Password</th>
      <th>Name</th>
      <th>Admin type</th>
    </tr>

    <tr>
      <% @admins.each do |admin| %>
        <td><%= link_to admin.id, admin %></td>
        <td><%= admin.email %></td>
        <td><%= admin.password %></td>
        <td><%= admin.name %></td>
        <td><%= admin.admin_type %></td>
      <% end %>
    </tr>

  </table>

</div>

