<div id="<%= dom_id service_buyer %>" class="m-5">

  <table class="table">
    <tr>
      <td> <strong>Service</strong> </td>
      <td>  <%= Service.find(service_buyer.service_id)[:name] %></td>
    </tr>
    <tr>
      <td> <strong>Buyer</strong> </td>
      <td> <%= Buyer.find(service_buyer.buyer_id)[:name] %> </td>
    </tr>
    <tr>
      <td> <strong>Payout</strong> </td>
      <td> <%= service_buyer.payout %> </td>
    </tr>
    <tr>
      <td> <strong>Active</strong> </td>
      <td><%= service_buyer.active %> </td>
    </tr>
  </table>


</div>
