<div id="<%= dom_id service_buyer %>">
  <p>
    <strong>Service:</strong>
    <%= service_buyer.service_id %>
  </p>

  <p>
    <strong>Buyer:</strong>
    <%= service_buyer.buyer_id %>
  </p>

  <p>
    <strong>Payout:</strong>
    <%= service_buyer.payout %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= service_buyer.active %>
  </p>

</div>
