<div id="<%= dom_id service_buyer %>">
  <p>
    <strong>Service:</strong>
    <%= Service.find(service_buyer.service_id)[:name] %>
  </p>

  <p>
    <strong>Buyer:</strong>
    <%= Buyer.find(service_buyer.buyer_id)[:name] %>
  </p>

  <p>
    <strong>Payout:</strong>
    <%= service_buyer.payout %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= service_buyer.active %>
  </p>

</div>
