<p style="color: green"><%= notice %></p>

<%= render @service_buyer %>

<div>
  <%= link_to "Edit this service buyer", edit_service_buyer_path(@service_buyer) %> |
  <%= link_to "Back to service buyers", service_buyers_path %>

  <%= button_to "Destroy this service buyer", @service_buyer, method: :delete %>
</div>
