<div id="<%= dom_id lead %>">
  <p>
    <strong>First name:</strong>
    <%= lead.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= lead.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= lead.email %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= lead.phone_number %>
  </p>

  <p>
    <strong>City:</strong>
    <%= lead.city %>
  </p>

  <p>
    <strong>State code:</strong>
    <%= lead.state_code %>
  </p>

  <p>
    <strong>Street address:</strong>
    <%= lead.street_address %>
  </p>

  <p>
    <strong>Zip code:</strong>
    <%= lead.zip_code %>
  </p>

  <p>
    <strong>Sold:</strong>
    <%= lead.sold %>
  </p>

  <p>
    <strong>Service:</strong>
    <%= lead.service_id %>
  </p>

</div>
