<div id="<%= dom_id buyer %>" class="m-5">

  <table class="table">
    <tr>
      <td><strong>Name</strong> </td>
      <td><%= buyer.name %></td>
    </tr>
    <tr>
      <td><strong>Email</strong></td>
      <td><%= buyer.email %></td>
    </tr>
    <tr>
      <td><strong>Phone Number</strong></td>
      <td><%= buyer.phone_number %></td>
    </tr>
    <tr>
      <td><strong>Working Days</strong></td>
      <td>
        <% day_names = WEEK_DAYS.to_a.map {|day| [day.last,day.first]}.to_h %>
        <%buyer.working_days.drop(1).each do |day| %>
          <ul>
            <li> <%= day_names[day] %></li>
          </ul>
        <% end %>
      </td>
    </tr>
    <tr>
      <td><strong>Active</strong></td>
      <td><%= buyer.active %></td>
    </tr>
  </table>


</div>
