<div id="<%= dom_id buyer %>">
  <p>
    <strong>Name:</strong>
    <%= buyer.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= buyer.email %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= buyer.phone_number %>
  </p>

  <p>
    <strong>Working days:</strong>
    <% day_names = WEEK_DAYS.to_a.map {|day| [day.last,day.first]}.to_h %>
    <%buyer.working_days.drop(1).each do |day| %>
      <ul>
        <li> <%= day_names[day] %></li>
      </ul>
    <% end %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= buyer.active %>
  </p>

</div>
