<p style="color: green"><%= notice %></p>

<h1>Buyers</h1>

<div id="buyers" >
  <table class="table">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Working Days</th>
      <th>Active</th>
      <th>Actions</th>
    </tr>
    <% @buyers.each do |buyer| %>
      <tr>
        <td> <%= link_to buyer.id, buyer %></td>
        <td> <%= buyer.name %></td>
        <td> <%= buyer.email %></td>
        <td> <%=  buyer.phone_number %> </td>
        <td>  <% day_names = WEEK_DAYS.to_a.map {|day| [day.last,day.first]}.to_h %>
          <%buyer.working_days.drop(1).each do |day| %>
            <ul>
              <li> <%= day_names[day] %></li>
            </ul>
          <% end %>
        </td>
        <td> <%= buyer.active %></td>
        <td>
          <%= link_to "Edit", edit_buyer_url(buyer), class: 'btn btn-warning btn-sm' %>
          <%= button_to "Delete", buyer, method: :delete, class: 'btn btn-danger btn-sm' %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<%= link_to "New buyer", new_buyer_path, class:'btn btn-success' %>
