<div id="<%= dom_id location %>">
  <p>
    <strong>City:</strong>
    <%= location.city %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= location.country %>
  </p>

  <p>
    <strong>State code:</strong>
    <%= location.state_code %>
  </p>

  <p>
    <strong>State name:</strong>
    <%= location.state_name %>
  </p>

  <p>
    <strong>Zip code:</strong>
    <%= location.zip_code %>
  </p>

</div>
