<p style="color: green"><%= notice %></p>

<div class="row m-5">

  <h1>Locations</h1>

  <div id="locations">
    <table class="table table-bordered" style="">
      <thead>
        <tr>
          <th>Id</th>
          <th>City</th>
          <th>Country</th>
          <th>State Code</th>
          <th>State Name</th>
          <th>Zip Code</th>
          <th>Actions</th>
        </tr>
      </thead>

      <% @locations.each do |location| %>
        <tr>
          <td> <%= link_to location.id, location %></td>
          <td> <%= location.city %></td>
          <td> <%= location.country %></td>
          <td> <%= location.state_code %> </td>
          <td> <%= location.state_name %></td>
          <td> <%= location.zip_code %></td>
          <td>
            <%= link_to "Edit", edit_location_url(location), class: 'btn btn-warning btn-sm' %>
            <%= button_to "Delete", location, method: :delete, class: 'btn btn-danger btn-sm' %>
          </td>
        </tr>
      <% end %>
    </table>
    <%= link_to "New location", new_location_path, class:'btn btn-success' %>

  </div>
</div>


